<h1>Welcome to the Convention Roomate Matcher</h1>

<form action="/conventions" method="post">
  <input type="submit" name="convention" label="Create New Convention">
  <input type="submit" name="user" label="Create New User">
</form>